@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "departure";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(/DepartureMono-Regular.woff2) format("woff2");
    }

    html {
        font-family: "departure", system-ui, sans-serif;
    }
}
